@import url(//fonts.googleapis.com/css?family=Poppins);

body {
  margin:0;
  font-family: 'Poppins', sans-serif;
}
.small {

font-size:1.3rem;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight:bolder;
  font-size:4rem;
  background: transparent;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #009FFF), color-stop(100%, #ec2F4B));
  background: -webkit-linear-gradient(-45deg, #FDC830 0%, #DA4453 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(0,0,0,0.95) 0%, rgba(0,0,0,0.9) 100%);
  color:white;
}

.inner-header {
  height:40vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  margin-top:60px;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  width:80%;
  margin:auto;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/

.special {
  color:white;
  font-weight:lighter;
  font-size:1.5rem;
  width:90%;
  max-width:850px;
  margin:auto;
}

.credit {
  text-decoration:none;
  color:black;
}
.credit:hover {
  background: transparent;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #009FFF), color-stop(100%, #ec2F4B));
  background: -webkit-linear-gradient(-45deg, #FDC830 0%, #DA4453 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  cursor:pointer;
}

@media (max-width: 470px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:3rem;
  }
  .special {
    font-size:1.2rem;
    text-align:left;
  }
}

@media (max-width: 555px) {
    .special {
        font-size:1rem;
        text-align:left;
      }
}
@media (max-width: 515px) { 
    h1 {
        font-size:2.8rem;
      }
}
@media (max-width: 410px) {
    h1 {
        font-size:1.8rem;
      }
}
